# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/themes/
.obsidian/hotkeys.json
.obsidian/core-plugins-migration.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
*.swp
*.swo
*~
